.todoFormContainer {
  margin-bottom: 20px;
}

.todoFormContainer input {
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 35px;
}

.todoFormContainer button {
  padding: 10px;
  margin-left: 10px;
  width: 70px;
  border-radius: 10%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.todoFormContainer button:hover {
  background-color: green;
}
