.mainButton {
  padding-top: 8px;
  margin-left: 10px;
  height: 60px;
  width: 60px;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}

.mainButton:hover {
  background-color: crimson;
  transition: 0.5s;
}
